/* navbar css */

header
{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 40px 100px;
    z-index: 10000;
}
header .logo
{
    background: linear-gradient(40deg, rgb(204, 237, 56) 25%,rgb(23, 183, 167) 90%);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header .logo:hover
{
    -webkit-text-stroke: 2px rgb(54, 237, 240);
    color: rgb(29, 215, 22);
    transform: scale(1.4);
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    font-size: 20px;
    text-decoration: none;
    padding: 6px 15px;
    color:rgb(83, 32, 141);
    border-radius: 20px;
}
header ul li a:hover
{
    background: linear-gradient(40deg, rgb(22, 101, 175) 25%,rgb(127, 237, 94) 90%);
    color: white;
}
header ul li a.active
{
    background: linear-gradient(40deg, rgb(204, 237, 56) 25%,rgb(23, 183, 167) 90%);
    color: white;
}

/* projects-cards css */
 
section{
    height: 100%;
    top: 100%;
}
 .project .content
 {
    height: 100%;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-gap: 20px;
     margin: 40px 0;   
 }
 .title h2
 {
     margin-top: 40px;
 }
 .project .content .workBx 
 {
     position: relative;
     width: 100%;
     height: 300px;
     overflow: hidden;
 }
 .project .content .workBx .imgBx
 {
     position: relative;
     width: 100%;
     height: 100%;
     transform: translateY(0);
     transition: 0.5s ease-in-out;
 }
 .project .content .workBx:hover .imgBx
 {
     transform: translateY(-100%);
 }
 .project .content .workBx .imgBx img
 {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 .project .content .workBx .textBx
 {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: var(--black);
     display: flex;
     justify-content: center;
     align-items: center;
     transform: translateY(100%);
     transition: 0.5s ease-in-out;
 }
 .project .content .workBx:hover .textBx
 {
     background: linear-gradient(40deg, rgb(175, 22, 160) 25%,rgb(244, 6, 6) 90%);
     color: white;
     transform: scale(1.5);
 }
 .project .content .workBx .textBx h3
 {
     color: white;
     font-size: 25px;
 }